<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" ng-repeat="path in $ctrl.paths">
      <p>path._id: {{path._id}}</p>
      <p>path.name: {{path.name}}</p>
      <ul>
        <li ng-repeat="beaconId in path.beaconIds">beaconId: {{beaconId}}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <ul>
        <li ng-repeat="beacon in $ctrl.pathForm.beaconIds">
          <p>Beacon ID: {{beacon}}</p>
          <p>Angle: {{ $ctrl.pathForm.angles[$index] }}</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <form ng-submit="$ctrl.submitPath()">
        <div class="form-group">
          <label for="PathName">Name</label>
          <input type="text" name="PathName" class="form-control" placeholder="Name" ng-model="$ctrl.pathForm.name">
        </div>

        <div class="form-group">
          <label for="beacon-select">Beacon</label>
          <select
            name="beacon-select"
            ng-options="item as item.nickname for item in $ctrl.availableBeacons track by item._id"
            ng-model="$ctrl.pathForm.selectedBeacon">
          </select>
        </div>
        <div class="form-group">
          <label for="angle-select">Angle</label>
          <input type="number" name="angle-select" placeholder="Angle" ng-model="$ctrl.pathForm.selectedAngle" />
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-default" ng-click="$ctrl.plusBeacon()"> + </button>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
